@charset "UTF-8";
@font-face {
    font-family: 'bebas';
    src: url(../fontes/BebasNeue-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'droid';
    src: url(../fontes/idroid.otf) format(opentype);
}
:root{
    --cor1: #1eb9e8;
    --cor2: #1cafdb;
    --cor3: #199ac2;
    --cor4: #147c9c;
    --cor5: #0c495c;
    --cor6: #c2f1ff;
    --cor7: #b3deff;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'bebas';
    --fonte-droid: 'droid';
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:var(--fonte-padrão);
    background-color: var(--cor6);
}
header{
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor4));
    height: 130px;
    text-align: center;
    color: white;
}
header h1{
    font:normal 2.6em var(--fonte-destaque);
    padding: 40px 0px 10px 0px;
    min-width: 400px;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.434);
   color: var(--cor6);
}
header p{
    font-size: 1.1em;
    max-width: 450px;
    margin: auto;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.418);
    color: white;
}
nav{
    background-color: var(--cor4);
    padding: 40px 0px 4px 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.34);
}
nav a{
    font: bold 1.1em var(--fonte-padrão);
    text-decoration: none;
    color: var(--cor6);
    margin-left: 15px;
    padding: 4px 10px 2px 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.209);
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.229);
}
main{
    max-width: 900px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.381);
    border-radius: 0px 0px 15px 15px ;
    margin-bottom: 50px;
}
article{
    padding: 20px 17px;
    background-color: white;
}
article p{
    text-indent: 35px;
    line-height: 39px;
    text-align: justify;
    padding: 28px 0px;
    font-size: 1.2em;
}
article h1 {
    font: normal 1.8em var(--fonte-droid);
    color: var(--cor5);
}
article h2{
    font: normal 1.5em var(--fonte-droid);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor5);
}
.negrito{
    color: var(--cor4);
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor6);
    padding: 1px;
}
.link::after{
    content: '\00A0\1f517';/*emoji de ligação dos links*/
}
.link:hover{
    text-decoration: underline;
    color: var(--cor3);
    background-color: transparent;
}
article img{
    width: 95%;
    margin: auto;
    display: block;
}
#bugdroid{
    width: 50%;
}
#video{
    background-color: white;
    margin: 10px  -17px 20px  -17px;
    padding: 15px 0px;
    position: relative;
    padding-bottom: 58%;
}
#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    margin: auto;
    max-width: 900px;
    background-color: var(--cor6);
    border-radius: 9px 9px 9px 9px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.489);
}
aside p {
    line-height: 35px;
    padding: 20px 6px;
}
#lista{
    padding-left: 80px;
    list-style-type: '\2714\00A0\00A0';/*emoji de check nos itens da lista*/
    list-style-position: inside;
    columns: 2;
}
aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 2px 5px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 3px 0px ;
}